<%-include("template/head",{Title:"Auspiciadores"})%>
<header>
  <div class="container">
    <h1 class="text-center display-2 mb-3 text-muted">Auspiciadores</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia recusandae quos laudantium dolorum asperiores eum
      iusto at dolores harum commodi, sunt cupiditate officiis quae ipsa cumque dignissimos vitae! At, non!</p>
</header>
<div class="container mt-3">
    <a class="btn btn-success btn-block my-4" href="/auspiciadores/registrar">Agregar usuario</a>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Empresa</th>
          <th>Relacion</th>
          <th>Vigencia</th>
          <th>Correo</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <% if (auspiciadoresTable.length>0) { %>
         <% auspiciadoresTable.forEach(element => { %>
            <tr>
                <td><%=element.empresa%></td>
                <td><%=element.relacion%></td>
                <td><%=element.vigencia%></td>
                <td><%=element.correo%></td>
              <td><a href="auspiciadores/<%=element.id%>" class="btn btn-warning btn-sm">Editar</a></td>
              </tr>
         <% }) %>
        <% } %>
        
      </tbody>
    </table>
  </div>
<%-include("template/footer")%>