<%-include("template/head",{Title:"Detalles"})%>
<header>
    <div class="container">
    <h1 class="text-center text-danger">Detalle del usuario</h1>
    </div>
    <main class="container">
        <% if (error) { %>
         <h2 class="text-center"><%=mensaje%></h2>
         <a href="/usuarios" class="btn btn-primary btn-block">Volver a la tabla de 
        <% } %>
        <% if (!error) { %>

            <form id="formularioEditar" data-id="<%=usuario.id%>">
                <input type="text" class="form-control my-2" name="nombre"
                value="<%=usuario.nombre%>" id="nombreInput">
                <input type="text" class="form-control my-2" name="apellido" value="<%=usuario.apellido%>" id="apellidoInput">
                <input type="text" class="form-control my-2" name="correo" value="<%=usuario.correo%>"  id="correoInput">
                <button class="btn btn-primary btn-block" type="submit"
                >Editar</button>
            </form>
            <hr>

            <button class="btn btn-danger btn-block" id="btn_eliminar" data-id="<%=usuario.id%>">Eliminar</button>
        <% } %>
    </main>
<script src="/Js-eliminar/main-eliminar.js"></script>

<%-include("template/footer")%>
