<%-include("template/head",{Title:"Empleados"})%>
<header>
    <div class="container">
    <h1 class="text-center text-danger">Detalle del empleado</h1>
    </div>
    <main class="container">
        <% if (error) { %>
         <h2 class="text-center"><%=mensaje%></h2>
         <a href="/plagas" class="btn btn-primary btn-block">Volver a la tabla de 
        <% } %>
        <% if (!error) { %>
                <form id="formularioEditar" data-id="<%=empleadoarray.id%>">
                <input type="text" class="form-control my-2" name="nombre" value="<%=empleadoarray.nombre%>" id="nombreEmpleado">
                <input type="text" class="form-control my-2" name="apellido" value="<%=empleadoarray.apellido%>" id="apellidoEmpleado">
                <input type="text" class="form-control my-2" name="correo" value="<%=empleadoarray.correo%>" id="correoEmpleado">
                <input type="text" class="form-control my-2" name="edad" value="<%=empleadoarray.edad%>" id="edadEmpleado">
                <button class="btn btn-warning btn-block" type="submit">Editar</button>
                </form>
                <hr>
                <button class="btn btn-danger btn-sm" id="btn_eliminar-empleado" data-id="<%=empleadoarray.id%>">Eliminar</button>

        <% } %>
    </main>
<script src="/Js-eliminar/empleado-eliminar.js"></script>

<%-include("template/footer")%>