<%-include("template/head",{Title:"Detalles"})%>
<header>
    <div class="container">
    <h1 class="text-center text-danger">Detalle del usuario</h1>
    </div>
    <main class="container">
        <% if (error) { %>
         <h2 class="text-center"><%=mensaje%></h2>
         <a href="/plagas" class="btn btn-primary btn-block">Volver a la tabla de 
        <% } %>
        <% if (!error) { %>
            <table class="table table-hover border">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Fecha_Dis</th>
                        <th>Plagas</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td><%=ratoncito.id%></td>
                            <td><%=ratoncito.Nombre_Persona%></td>
                            <td><%=ratoncito.Email%></td>
                            <td><%=ratoncito.Fecha_Dis%></td>
                            <td><%=ratoncito.Plagas%></td>
                            <td><button class="btn btn-danger btn-sm" id="btn_eliminar"
                            data-id="<%=ratoncito.id%>">Eliminar</button></td>
                        </tr>
                </tbody>
            </table>
        <% } %>
    </main>
<script src="/Js-eliminar/eliminar-plagas.js"></script>

<%-include("template/footer")%>