<%-include("template/head",{Title:"Empleados"})%>
<header>
    <div class="container">
    <h1 class="text-center display-2 mb-3 text-danger">Empleados</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia recusandae quos laudantium dolorum asperiores eum iusto at dolores harum commodi, sunt cupiditate officiis quae ipsa cumque dignissimos vitae! At, non!</p>
    </header>
    </div>
    <main>
            <div class="container">
                <table class="table table-striped border">
                    <thead>
                        <tr>aaaaaaa
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>correo</th>
                            <th>Edad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (empleadosTable.length>0) { %>
                            <% empleadosTable.forEach(empleaditos=> { %>
                                <tr>
                                    <td><%=empleaditos.id%></td>
                                    <td><%=empleaditos.nombre%></td>
                                    <td><%=empleaditos.apellido%></td>
                                    <td><%=empleaditos.correo%></td>
                                    <td><%=empleaditos.edad%></td>
                                    <td>Null</td>
                                    </tr>
                            <% }) %>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
<%-include("template/footer")%>