<%-include("template/head",{Title:"Empleados"})%>
<header>
    <div class="container">
    <h1 class="text-center display-2 mb-3 text-danger">Empleados</h1>
    <p>En este espacio mostramos a las personas que forman parte de nuestra empresa.</p>
    </header>
    </div>
    <main>
            <div class="container">
                <a class="btn btn-success btn-block my-4" href="/empleados/registrar">Agregar empleado</a>
                <table class="table table-striped border">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>correo</th>
                            <th>Edad</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (empleadosTable.length>0) { %>
                            <% empleadosTable.forEach(empleaditos=> { %>
                                <tr>
                                    <td><%=empleaditos.id%></td>
                                    <td><%=empleaditos.nombre%></td>
                                    <td><%=empleaditos.apellido%></td>
                                    <td><%=empleaditos.correo%></td>
                                    <td><%=empleaditos.edad%></td>
              <td><a href="empleados/<%=empleaditos.id%>" class="btn btn-warning btn-sm">Editar</a></td>
                                    </tr>
                            <% }) %>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
<%-include("template/footer")%>