<%-include("template/head",{Title:"Plagas"})%>
<body>
    <header class="container">
    <h1 class="display-2 text-success mb-3 text-center">Plagas</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, nisi in, praesentium impedit 
        provident quidem fugiat numquam nulla recusandae, earum magnam expedita eligendi fuga exercitationem 
        placeat corporis harum laborum nostrum?
    </p>
    </header>
    <div class="container">
    <a class="btn btn-primary btn-block my-4" href="/plagas/registrar">Agregar plaga</a>
        <table class="table">
            <thead>
            <tr>
                <th>id</th>
                <th>Nombre de la persona</th>
                <th>Email</th>
                <th>Fecha disponible</th>
                <th>Nombre de plaga</th>
                <th>Editar</th>
            </tr>
            </thead>
            <tbody>
            <% if (arrayplagas.length>0) { %>
             <% arrayplagas.forEach(ratoncito => { %>
                <tr class="table-info">
                    <td><%=ratoncito.id%></td>
                    <td><%=ratoncito.Nombre_Persona%></td>
                    <td><%=ratoncito.Email%></td>
                    <td><%=ratoncito.Fecha_Dis%></td>
                    <td><%=ratoncito.Plagas%></td>
                    <!-- <td><a href="plagas/<%=ratoncito.id%>" class="btn btn-warning btn-sm">Editar</a></td> -->
                </tr>
             <% }) %>
            <% } %>
            </tbody>
        </table>
    </div>
<%-include("template/footer")%>