<%-include("template/head",{Title:"Productos"})%>

<div class="container mt-3">
    <h2>Hoverable Dark Table</h2>
    <p>The .table-hover class adds a hover effect (grey background color) on table rows:</p>            
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Marca</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <% if (arrayproductos.length>0) { %>
            <% arrayproductos.forEach(pro => { %>
               <tr>
                   <td><%=pro.id%> </td>
                   <td><%=pro.nombre%></td>
                   <td><%=pro.marca%></td>
                   <td><%=pro.precio%></td>
               </tr>
            <% }) %>
           <% } %>
      </tbody>
    </table>
  </div>

<%-include("template/footer")%>