<%-include("template/head",{Title:"Productos"})%>
<header class="container">
  <h1 class="display-2 text-primary text-center mb-3">Productos</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis impedit velit rem corrupti molestiae veritatis sed, ipsam nisi laudantium vel nihil! Porro dicta minima fugiat autem doloribus, fugit expedita accusamus.</p>
</header>
<div class="container">
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Marca</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <% if (arrayproductos.length>0) { %>
            <% arrayproductos.forEach(pro => { %>
               <tr>
                   <td><%=pro.id%> </td>
                   <td><%=pro.nombre%></td>
                   <td><%=pro.marca%></td>
                   <td><%=pro.precio%></td>
               </tr>
            <% }) %>
           <% } %>
      </tbody>
    </table>
  </div>
<%-include("template/footer")%>