<%-include("template/head",{Title:"Usuarios"})%>

<h1>Usuarios</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos rem in quis eaque alias illum repudiandae tempora beatae rerum, fuga, facilis odit, ea consequuntur ratione vel. Earum voluptatibus placeat nesciunt.</p>
<div class="container mt-3">
    <h2>Hover Rows</h2>
    <p>The .table-hover class enables a hover state (grey background on mouse over) on table rows:</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>

                <% if (ArrayUsuarios.length>0) { %>
                 <% ArrayUsuarios.forEach(user => { %>
                        <tr>
                            <td><%=user.nombre%></td>
                            <td><%=user.apellido%></td>
                            <td><%=user.correo%></td>
                        </tr>
                 <% }) %>
                <% } %>
        </tbody>
    </table>
</div>
<%-include("template/footer")%>







