<%-include("template/head",{Title:"Usuarios"})%>
<header class="container">
<h1 class="display-2 text-info text-center mb-3">Usuarios</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos rem in quis eaque alias illum repudiandae tempora beatae rerum, fuga, facilis odit, ea consequuntur ratione vel. Earum voluptatibus placeat nesciunt.</p>
</header>
<div class="container mt-3">
    <a class="btn btn-success btn-block my-4" href="/usuarios/registrar">Agregar usuario</a>
    <table class="table table-hover border">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
                <% if (ArrayUsuarios.length>0) { %>
                 <% ArrayUsuarios.forEach(usuario => { %>
                    <tr>
                    <td><%=usuario.id%></td>
                    <td><%=usuario.nombre%></td>
                    <td><%=usuario.apellido%></td>
                    <td><%=usuario.correo%></td>
                    <td><a href="usuarios/<%=usuario.id%>" class="btn btn-warning btn-sm">Editar</a></td>
                        </tr>
                 <% }) %>
                <% } %>
        </tbody>
    </table>
</div>
<%-include("template/footer")%>







